
.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
    background-color: #000000;
    backdrop-filter: blur(10px);
    z-index: 2;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
    z-index: 5;
}

.main .nav img {
    width: 40px;
    border-radius: 50px;
}

.main-container {
    max-width: 900px;
    margin: auto;
    z-index: 5;
}

.main-container .greet {
    margin: 50px 0px;
    font-size: 56px;
    color: #c4c7c5;
    font-weight: 500px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards {
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
}

.main .card {
    height: 160px;
    padding: 15px;
    background: linear-gradient(to right, #3f4243, #812fce8f, #2e1a4486);
    border: #f0f4f9 solid 1px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    backdrop-filter: blur(20px);
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    background: white;
}

.main .card p {
    color: #f6f6f6;
    font-size: 17px;
}

.main .card:hover {
    background-color: #18083fbc;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    padding: 0px 20px;
    margin: auto;
}

.search-box {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #37363657;
    padding: 10px 20px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
}

.search-box img {
    width: 24px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 8px;
    font-size: 18px;
    color: #f0f4f9;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info {
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
    color: #f0f4f9;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
    color: #c4c7c5;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result img {
    width: 40px;
    border-radius: 50px;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
    color: #c4c7c5;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #000000;
    background: linear-gradient(to right, #4b4d4e, #c953e98a, #2b2c2d);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 4s infinite linear;
}

.ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-image: radial-gradient(ellipse at center, rgba(107, 65, 175, 0.395) 0%, rgba(51, 51, 69, 0) 100%);
    pointer-events: none;
}

.result-data p {
    font-size: 17px;
    font-weight: 300px;
    line-height: 1.8;
}

/* Responsive styles */
@media only screen and (max-width: 768px) {
    .main-container {
        padding: 0px 20px;
    }
    
    .main-container .greet {
        font-size: 40px;
    }
    
    .main .cards {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    .search-box {
        width:98%;
        padding: 8px 12px;
        gap: 5px;
        margin-left: -15px;
    }

    .search-box img {
        margin-left: -5px;
        width: 17px;
    }

    .search-box input {
        font-size: 16px;
    }
}